@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/static/Montserrat-Bold.ttf')
}

aside {
    width: 25%;
    position: sticky;
    top: 0;
    height: 100vh;
    background: linear-gradient(to right, rgb(51, 147, 232), rgb(202, 216, 240));
    padding-left: 50px;
}

.wrapper {
    display: flex;
    background-color: rgb(202, 216, 240);
    scroll-behavior: smooth;
}

.container_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
}

.container_animals {
    width: 75%;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(5, 5, 159);
    font-family: 'Montserrat';
    font-weight: bolder;
    margin-bottom: 20px;
}

.home_link {
    margin-top: 20px;
    margin-bottom: 30px;
}

.link {
    text-decoration: none;
    color: rgb(63, 63, 236);
    font-style: italic;
}

.link:hover {
    color: blue;
}

.list_style {
    list-style-type: decimal;
    color: rgb(5, 5, 159);
    font-weight: bold;
}

.li_style {
    margin-bottom: 20px;
}

.item {
    font-family: 'Montserrat';
    font-weight: bold;
    text-decoration: none;
    color: blue;
}

.item:hover {
    color: rgb(5, 5, 159);
}