 @font-face {
     font-family: "Montserrat";
     src: url('../../fonts/Montserrat/static/Montserrat-Regular.ttf');
 }


 .wrapper {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     font-family: "Montserrat";
     padding-top: 50px;
     padding-bottom: 50px;
     background: linear-gradient(rgb(51, 147, 232), transparent);
     padding-right: 150px;
     padding-left: 150px;
 }

 .container_link {
     margin-bottom: 30px;
 }


 .link {
     text-decoration: none;
     color: rgb(25, 93, 220);
     font-style: italic;
 }

 .container_title {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     color: blue;
     width: 900px;
     margin-bottom: 20px;
 }

 .subtitle {
     margin-top: 30px;
     color: rgb(51, 51, 246);
     text-decoration: underline;
 }

 .accordion_title {
     color: rgb(33, 33, 247);
 }

 .accordion_content {
     color: blue;
 }

 .accordion {
     width: 700px;
 }

 .container_resume {
     display: flex;
     width: 1000px;
     justify-content: space-evenly;
     align-items: center;
     margin-top: 30px;
 }

 .content {
     width: 400px;
     color: darkblue;
     text-align: center;
     border-radius: 10px;
     box-shadow: 0 0 20px rgb(51, 147, 232);
     padding-top: 10px;
     padding-right: 10px;
     padding-left: 10px;
 }